::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.2);
}

html {
  background: #102443;
}

body {
  font-family: "Inter", sans-serif;
  background: #102443;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
  margin: 0;
  color: #222222;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
